{% extends "home/base.html" %} {% block content %}

<div class="container">

    <!-- TOP ROW-->
    <div class="row row no-gutters">
        <!--CONTAINER -->
        <div class="col-lg-8 col-md-12  col-sm-12 col-xs-12" style="background-color: azure;">

            <div class="row no-gutters">
                <!--FIRST  LIST-->
                <div class="col-lg-6  col-sm-12  col-xs-12" style="background-color: sienna;">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Some placeholder content in a paragraph.</p>
                            <small>And some small print.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Some placeholder content in a paragraph.</p>
                            <small class="text-muted">And some muted small print.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Some placeholder content in a paragraph.</p>
                            <small class="text-muted">And some muted small print.</small>
                        </a>
                    </div>
                </div>


                <!--SECOND  LIST-->
                <div class="col" style="background-color: lightcoral;">
                    Bye
                </div>
            </div>
        </div>



        <!--MOST ACTIVE-->
        <div class="col" style="background-color: darkcyan;">
            Hello
        </div>











    </div>



</div>


{% endblock%}
