{% extends "home/base.html" %} {% block content %}

<div class="container">

    <!-- TOP ROW-->
    <div class="row row no-gutters">
        <!--CONTAINER -->
        <div class="col-lg-8 col-md-12  col-sm-12 col-xs-12" style="background-color: azure;">

            <div class="row no-gutters">
                <!--FIRST  LIST-->
                <div class="col-lg-6  col-sm-12  col-xs-12" style="background-color: sienna;">
                    <div class="row  no-gutters">
                        <div class="col-2" style="background-color: red;">
                            <img src="https://scontent-lcy1-1.xx.fbcdn.net/v/t1.18169-9/10484_10151134545497220_1053900722_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=bj1W6kboEG4AX_jfNQS&_nc_ht=scontent-lcy1-1.xx&oh=00_AT_2lth3towubau5JZqG8ruQieGrAjiyKs3czzfZOxJtMg&oe=6234F619"
                                style="width: 80px" />
                        </div>

                        <div class="col ">
                            <div class="d-flex justify-content-between">

                                <div>
                                    <p> Something</p>
                                    <p> The </p>
                                </div>

                                <div>
                                    <p> Something</p>
                                    <p> The </p>
                                </div>


                                <div>
                                    <button class="btn btn-dark">MINE</button>
                                </div>




                            </div>


                            <!-- <a href="#" class="list-group-item list-group-item-action active" aria-current="true">

                                <div class="d-flex w-100 justify-content-between">

                                    <h5 class="mb-1">NETFLIX</h5>
                                    <h5 class="mb-1">$253.90</h5>
                                    <button class="btn btn-dark">MINE</button>
                                </div>


                                <div class="d-flex w-100 justify-content-between">
                                    <p class="mb-1">$NTLX - Video Streaming</p>
                                    <h5 class="mb-1">$253.90</h5>

                                </div>
                            </a> -->

                        </div>


                    </div>
                </div>


                <!--SECOND  LIST-->
                <div class="col" style="background-color: lightcoral;">
                    Bye
                </div>
            </div>
        </div>



        <!--MOST ACTIVE-->
        <div class="col" style="background-color: darkcyan;">
            Hello
        </div>











    </div>



</div>


{% endblock%}
