{% extends "home/base.html" %} {% block content %}

<div class="container">

    <!-- TOP ROW-->
    <div class="row row no-gutters">
        <div class="col-lg-8 col-md-12  col-sm-12 col-xs-12" style="background-color: azure;">

            <div class="row no-gutters">

                <div class="col-lg-6  col-sm-12  col-xs-12" style="background-color: sienna;">
                    <div class="row no-gutters">
                        <!-- <div class="col-1" style="background-color: gold;">
                            <img src="https://scontent-lcy1-1.xx.fbcdn.net/v/t1.18169-9/10484_10151134545497220_1053900722_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=bj1W6kboEG4AX_jfNQS&_nc_ht=scontent-lcy1-1.xx&oh=00_AT_2lth3towubau5JZqG8ruQieGrAjiyKs3czzfZOxJtMg&oe=6234F619"
                                style="width: 100%" />
                        </div>

                        <div class="col-5" style="background-color: slategrey;display: flex;align-items: center;">
                            <div
                                style="display: flex; flex-direction: column; align-items: stretch; justify-content: stretch;">
                                <div style="background-color: brown;">
                                    <p style="font-size: large;"><b>Netflix </b></p>

                                </div>


                                <div style="background-color: darkgoldenrod;">

                                    <p style="font-size: medium;">$NTFLX - Streaming Video </p>
                                </div>
                            </div>


                        </div>

                        <div class="col-3" style="background-color: darkmagenta;">


                        </div>

                        <div class="col-3" style="background-color: skyblue;">


                        </div> -->


                    </div>
                </div>



                <div class="col" style="background-color: lightcoral;">
                    Bye
                </div>
            </div>
        </div>

        <div class="col" style="background-color: darkcyan;">
            Hello
        </div>











    </div>



</div>


{% endblock%}
