{% extends "miner/base.html" %}


{% block content %}
    <div>
        <p id="joke"> Something </p>


    </div>

       

  
  





{% endblock %}
{% block scripts %}
<script>

        
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/stock/'
        
    );
    console.log(chatSocket)
    chatSocket.onmessage = function(e) {
        if (typeof e !== 'undefined') {
            var joke = JSON.parse(e.data);
            console.log(joke.message)
            document.querySelector('#joke').innerHTML =  joke.message

        }



    
    };

    chatSocket.onclose = function(e) {
        console.log(e.error)
        console.error('Chat socket closed unexpectedly');
    };




</script>
{% endblock %}