<html>
    <head>

    </head>

    <body>


        <p id="joke"> Something </p>

  
    </body>


    <script>

       
        const chatSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/stock/'
            
        );
        console.log(chatSocket)
        chatSocket.onmessage = function(e) {
            var joke = JSON.parse(e.data);
            console.log(joke.message)
            document.querySelector('#joke').innerHTML =  joke
        };

        chatSocket.onclose = function(e) {
            console.log(e.error)
            console.error('Chat socket closed unexpectedly');
        };

    </script>

</html>