p {
  background-color: red;
}

.btn-sample:active {
  box-shadow: none;
}

.btn-success:active:focus {
  color: #ffffff;
  background-color: #161617;
  border-color: #494f57;
}

.flexItem {
  flex: 1 1 30%; /*grow | shrink | basis */
  height: 100px;
  background-color: white;
  border: 1px solid #1b1b1b;
}
