body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: 040509;
}
#main {
  background-color: 040509;
}
.main {
  margin: 3rem auto;
  width: 70%;
  background-color: aqua;
  height: 1000px;
}
#toprow {
  display: flex;
  box-sizing: border-box;

  justify-content: center;
}
#toprow > div {
  box-sizing: border-box;
  margin: 5px;
}

.container {
  max-width: 100%;
}

.flexItem {
  flex: 1 1 30%; /*grow | shrink | basis */
  background-color: white;
  margin-bottom: 19px;
}
